# Lab | Revisiting Machine Learning Case Study

- In this lab, you will use `learningSet.csv` file which you already have cloned in today's activities.

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [3]:
path = '/home/sabina/Downloads/Ironhack/Unit 7/7.01_lesson/learningSet.csv'
data = pd.read_csv(path)

### Instructions

Complete the following steps on the categorical columns in the dataset:

- Check for null values in all the columns

In [5]:
# We'll check the amount of data we have
data.shape

(95412, 481)

In [9]:
# Check nulls in columns
nulls = pd.DataFrame(data.isna().sum() * 100 / len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending=False).head(80)

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
...              ...
ADATE_16   21.343227
ADATE_14   19.774242
ADATE_9    11.785729
ADATE_11   10.923154
NEXTDATE   10.452564

[80 rows x 1 columns]

In [10]:
# Check how many columns have more than 10% null values
len(nulls[nulls['percentage'] > 10])

81

- Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:
    - `OSOURCE` - symbol definitions not provided, too many categories
    - `ZIP CODE` - we are including state already

In [13]:
# Check OSOURCE values
data.OSOURCE.unique()

array(['GRI', 'BOA', 'AMH', 'BRY', ' ', 'CWR', 'DRK', 'NWN', 'LIS', 'MSD',
       'AGR', 'CSM', 'ENQ', 'HCC', 'USB', 'FRC', 'RKB', 'PCH', 'AMB',
       'L15', 'BBK', 'L21', 'SYN', 'L01', 'MOP', 'UCA', 'ESN', 'IMP',
       'AVN', 'RMG', 'DNA', 'L04', 'AML', 'AIR', 'DUR', 'LHJ', 'WKB',
       'STL', 'DCD', 'IMA', 'ACS', 'ALZ', 'NEX', 'HAR', 'SGI', 'MBC',
       'BSH', 'NAD', 'HOS', 'HHL', 'GRT', 'L02', 'APP', 'DAC', 'BHG',
       'NSH', 'NPT', 'L16', 'PV3', 'LOG', 'ASC', 'AGS', 'ARG', 'DON',
       'VIK', 'ARB', 'HHH', 'ANT', 'WRG', 'PBL', 'OMH', 'CRG', 'UBA',
       'ASH', 'COK', 'RPH', 'STV', 'NAS', 'SSS', 'LEO', 'KNG', 'KIP',
       'ASS', 'GDA', 'STR', 'CAW', 'GET', 'HAN', 'DEL', 'FLD', 'L25',
       'MER', 'SYC', 'HAM', 'PSM', 'HIL', 'SPN', 'DNB', 'GPS', 'ASP',
       'INN', 'ABW', 'CFI', 'JFY', 'LAK', 'LVT', 'RED', 'TIM', 'MON',
       'MM3', 'FAR', 'MTR', 'HOW', 'FOR', 'LKE', 'DBL', 'K3M', 'PGR',
       'ADD', 'IML', 'SMZ', 'CNT', 'SUN', 'MCC', 'BEL', 'TVF', 'TRN',
       'PCL', 'HRB', 'OVS', 'WFD', 'TX2', 'NWF', 'KEN', 'NSN', 'NEW',
       'CJR', 'NHB', 'FCR', 'BSM', 'SIG', 'CHT', 'CAP', 'TVG', 'SUF',
       'PRV', 'TRO', 'GUR', 'WIG', 'MAT', 'D02', 'GLP', 'HEA', 'BLI',
       'EAS', 'SFH', 'PBK', 'TOR', 'HJR', 'MCO', 'IWD', 'HER', 'MB1',
       'CHK', 'SHL', 'STA', 'EPL', 'WWC', 'AHC', 'TV1', 'CHS', 'GAR',
       'MGR', 'OD1', 'SPG', 'ADM', 'L11', 'PWR', 'SRN', 'DSN', 'HFS',
       'SMC', 'PGA', 'TPS', 'BED', 'CNC', 'L07', 'AKM', 'BAN', 'MBB',
       'DDA', 'TVH', 'BRE', 'YAL', 'L23', 'ROA', 'MV2', 'NSM', 'VTM',
       'BRK', 'QUI', 'L03', 'SEB', 'COH', 'STK', 'CMT', 'HHS', 'L22',
       'DTM', 'CUL', 'HUT', 'EMI', 'MWD', 'LAN', 'SEP', 'IHD', 'ASE',
       'HDP', 'HHB', 'CCP', 'LIF', 'NPP', 'ARM', 'SCP', 'ASK', 'BMG',
       'DPH', 'AQK', 'PAR', 'CRN', 'AUS', 'SMM', 'DML', 'TVC', 'ARC',
       'DTR', 'MAD', 'PHR', 'NG2', 'ADA', 'SES', 'RCS', 'MBT', 'AQU',
       'QNT', 'COS', 'LPN', 'AMJ', 'TAS', 'FIN', 'DLG', 'SPR', 'UNV',
       'IDM', 'MYO', 'MST', 'IDE', 'GPB', 'BTC', 'PLU', 'MIC', 'TX1',
       'MDC', 'SEQ', 'NTW', 'MNT', 'MC1', 'MYS', 'GHS', 'GOD', 'SHM',
       'SCO', 'YKA', 'PME', 'NAP', 'SMS', 'EP1', 'OUL', 'REF', 'L06',
       'L0C', 'HMK', 'TYL', 'FIG', 'FOS', 'USS', 'SHE', 'DLM', 'OLY',
       'MCF', 'COW', 'RAY', 'ACT', 'NSL', 'EHR', 'TLB', 'YKD', 'NYH',
       'OXM', 'ANN', 'SH1', 'AHB', 'WLW', 'DHR', 'USA', 'NAM', 'MV1',
       'OLD', 'GPD', 'RSC', 'MM2', 'NFB', 'HEL', 'TRU', 'DOW', 'OHI',
       'DLL', 'NCD', 'KUR', 'PCC', 'ACG', 'LRS', 'PTP', 'CED', 'TRV',
       'L0L', 'CRE', 'LCS', 'SMI', 'SFL', 'MM1', 'SYZ', 'WAL', 'SUM',
       'PTS', 'AHL', 'GCP', 'GLN', 'MSE', 'INB', 'NWD', 'WAR', 'JUD',
       'SPT', 'FLM', 'NOR', 'STE', 'SST', 'USU', 'FIV', 'HHV', 'DBD',
       'BIB', 'MSB', 'ACC', 'ABC', 'SIM', 'FGM', 'HMP', 'LEE', 'DRH',
       'ENC', 'PBW', 'VIG', 'THM', 'HCK', 'EPS', 'RBA', 'MIL', 'HSP',
       'CRH', 'GSC', 'PUR', 'AMU', 'CNL', 'OHS', 'RPC', 'CFF', 'HVR',
       'PUB', 'ACB', 'WIS', 'DWC', 'LEI', 'DAT', 'SWI', 'AP1', 'ASD',
       'DNL', 'FCC', 'MLF', 'MAY', 'BHL', 'DBT', 'TRA', 'SSZ', 'MHM',
       'PLN', 'SAT', 'ORG', 'FII', 'NES', 'NWL', 'CPB', 'WWF', 'ALD',
       'BUY', 'EPI', 'HHC', 'GBK', 'ATS', 'SPC', 'AIC', 'HRM', 'ISL',
       'AR1', 'SSL', 'VBK', 'JHO', 'MGU', 'YNF', 'TOG', 'GDF', 'TMX',
       'ATP', 'NCC', 'HHN', 'SHU', 'SWP', 'VFW', 'JJG', 'MMK', 'ADR',
       'HTL', 'VSH', 'BOS', 'MSH', 'FWF', 'L14', 'TOT', 'HLQ', 'WTW',
       'AHA', 'MFL', 'AMT', 'EQM', 'DIA', 'CRT', 'WOR', 'LSH', 'CCI',
       'FNC', 'NCS', 'CTH', 'LEM', 'TMT', 'TOD', 'NPW', 'DUN', 'FAM',
       'ALF', 'ABD', 'CIO', 'SEX', 'THE', 'NGR', 'L09', 'RBM', 'BYL',
       'TRI', 'LOB', 'TMW', 'BEE', 'WDY', 'RHM', 'AHR', 'WDH', 'PBY',
       'SPM', 'FTH', 'HLN', 'NET', 'RLT', 'NDL', 'HAC', 'CYB', 'CBL',
       'NER', 'CIR', 'MIQ', 'DAY', 'SNR', 'WMD', 'CHI', 'LIL', 'TWN',
       'MWA', 'NWT', 'WBY', 'KNI', 'BFD', 'BBU', 'MTS', 'GEB', 'ROM',
       'VAE', 'L13', 'JCD', 'USN', 'DRL', 'L17', 'KOR', 'AVD', 'PPM',
       'MIS', 'SCA', 'TWM', 'CRP', 'NTC', 'HLA', 'OD2', 'DCK', 'SFW',
       'STY', 'NHP', 'ALL', 'ABP', 'PNY', 'ATL', 'GFM', 'ARE', 'DMI',
       'SCL', 'STJ', 'AHN', 'CMF', 'BBO', 'PHO', 'CAT', 'SOP', 'SLF',
       'FRM', 'CLP', 'AUD', 'EAR', 'APL', 'BBT', 'PPD', 'AVS', 'GEN',
       'JNC', 'AHM', 'CLL', 'CVO', 'HTG', 'CTW', 'BBW', 'SCU', 'IHS',
       'WIL', 'BAR', 'NUR', 'LRD', 'CNA', 'SSN', 'WWM', 'COM', 'L24',
       'BHW', 'HOR', 'PCA', 'FRN', 'SSC', 'RCW', 'BLV', 'VVM', 'MGV',
       'NCH', 'FST', 'NSA', 'FHN', 'CRM', 'PAT', 'AEW', 'SUR', 'LEG',
       'NNS', 'ZOY', 'MLK', 'FOP', 'TVM', 'USL', 'BML', 'NWP', 'NPL',
       'OWN', 'EXP', 'PPL', 'SNW', 'BAS', 'YAN', 'VDB', 'GSP', 'DAN',
       'COP', 'QEC', 'CSC', 'IFS', 'CSP', 'ALS', 'FDP', 'PSC', 'CPL',
       'ESM', 'CRS', 'ELL', 'IRC', 'STP', 'AAD', 'MET', 'JLR', 'NYL',
       'REG', 'MDB', 'WND', 'AMV', 'CCB', 'SEL', 'CUI', 'HMV', 'PBC',
       'SDF', 'IMC', 'CAB', 'ICK', 'MLJ', 'JTB', 'SPH', 'NHR', 'FNH',
       'KCP', 'HST', 'TLL', 'LST', 'TRE', 'ENT', 'VCS', 'AFP', 'PRO',
       'PAL', 'POI', 'RVP', 'NCE', 'BTY', 'SH3', 'NON', 'ACP', 'HFH',
       'TFS', 'SHK', 'POP', 'CGK', 'AMZ', 'BYB', 'AAA', 'HSC', 'WKC',
       'EXS', 'CRL', 'RCH', 'KTB', 'PWD', 'BHB', 'JRV', 'ECK', 'COL',
       'INM', 'WRK', 'CDC', 'RNM', 'MRB', 'SWM', 'LA2', 'CJL', 'RDM',
       'CYR', 'SIW', 'SHP', 'BTR', 'HNZ', 'HPS', 'GFW', 'TRL', 'AMG',
       'ISC', 'BLT', 'HOL', 'SJS', 'ARZ', 'BDG', 'POS', 'CKD', 'D01',
       'AWK', 'FSC', 'OPR', 'NSS', 'SPI', 'MCN', 'PER', 'MBL', 'HSQ',
       'CHW', 'FHL', 'CIL', 'USO', 'HCT', 'CVH', 'CRF', 'SMT', 'RNT',
       'CON', 'FDM', 'PRA', 'TSH', 'LA1', 'FLA', 'GLD', 'MPL', 'LE2',
       'SAZ', 'AMR', 'BUR', 'BEA', 'AHS', 'KIT', 'RNS', 'LON', 'MID',
       'LED', 'CHB', 'EAL', 'GDM', 'REP', 'SUC', 'FIF', 'NHE', 'PAV',
       'PRT', 'NG1', 'TAB', 'RSM', 'BMS', 'ACL', 'LEW', 'SSM', 'CKT',
       'CCM', 'MWC', 'FPG', 'ROY', 'CSD', 'CMM', 'CNS', 'ERC', 'BET',
       'GNC', 'HMM', 'POW', 'WCP', 'LEA', 'SH2', 'LWN', 'DEF', 'GAD',
       'EPF', 'SOC', 'HSF', 'ACR', 'HCA', 'HHA', 'LUK', 'GFD', 'WER',
       'SLS', 'ACN', 'CVP', 'ORT', 'VGL', 'ASB', 'HHD', 'HWB', 'NCF',
       'TVP', 'AMS', 'SCT', 'SDP', 'BIR', 'STU', 'CHR', 'AKF', 'NCM',
       'CMB', 'HPR', 'L20', 'HYP', 'IAP', 'PEN', 'DNC', 'IDL', 'BRP',
       'AAM', 'WLD', 'CAM', 'NPA', 'UPP', 'COY', 'MGA', 'BKS', 'CMP',
       'CHM', 'BRC', 'AME', 'INT', 'NRM', 'TRS', 'MDD', 'DEC', 'SUP',
       'TMS', 'MFA', 'TCW', 'RRR', 'CTY', 'BCN', 'SAL', 'INC', 'CCS',
       'ICR', 'PRE', 'AGF', 'UNI', 'GFT', 'NUM', 'MEN', 'JTA', 'WRT',
       'SNU', 'EWK', 'AFR', 'SE1', 'MAS', 'VXW', 'CGS', 'PKS', 'FRA',
       'FMK', 'MDA', 'MEC', 'UNQ', 'SEA', 'MYK', 'MSC', 'MSP', 'HRT',
       'MRC', 'ANR', 'NPS', 'CDN', 'CCC', 'CYD', 'SIF', 'EAT', 'CHD',
       'CMS', 'HSL', 'SEW', 'SSB', 'IAW', 'BLU', 'NSC', 'CAC', 'LHL',
       'CWS', 'HUD', 'GRD', 'IBC', 'JAY', 'ACD', 'ARF', 'AI2', 'SOD',
       'GHM', 'RMI', 'RNC', 'VIC'], dtype=object)

In [14]:
# Check # of unique OSOURCE values
len(data.OSOURCE.unique())

896

In [27]:
# Prepare column drop list
to_drop = ['OSOURCE', 'ZIP']

- Identify columns that over 85% missing values

In [28]:
null_cols = list(nulls[nulls['percentage'] > 10].index)
to_drop += null_cols

- Remove those columns from the dataframe

In [29]:
model_data = data.drop(to_drop, axis=1)

- Reduce the number of categories in the column `GENDER`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')
    ```

In [30]:
print(model_data['GENDER'].value_counts())
model_data['GENDER'] = model_data['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [34]:
model_data.GENDER = model_data.GENDER.apply(lambda x: x if x == 'F' \
                                            or x == 'M' else "U")
model_data.GENDER.value_counts()

F    51277
M    39094
U     5041
Name: GENDER, dtype: int64